@model WebStore.Models.Employee

    <h3>Карточка сотрудника</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                <th>Отдел</th>
                <th>Дата найма</th>
                <th>Образование</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Surname</td>
                <td>@Model.Name</td>
                <td>@Model.Patronymic</td>
                <td>@Model.Age</td>
                <td>@Model.Department</td>
                <td>@Model.HiringDate.ToString("dd/MM/yyyy")</td>
                <td>@Model.Degree</td>
            </tr>
        </tbody>
    </table>

    <a asp-controller="Employees" asp-action="Index">Назад к списку</a>